server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/birthday_db
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: your_password

    jpa:
      database: postgresql
      database-platform: org.hibernate.dialect.PostgreSQLDialect
      hibernate:
        ddl-auto: validate
      show-sql: true
      properties:
        hibernate:
          format-sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    baseline-version: 0

  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html

app:
  upload:
    dir: uploads
